.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3em;
    width: 250px;
    
    .s{
      padding: 10px 24px;
      .store{
        border-radius: 12px;
        font-size: 20px;
        background-color: #87CEFA;
        border: 2px solid #000000;
      }
    }
    
    .p{
      padding: 10px 24px;
      .product{
        border-radius: 12px;
        font-size: 20px;
        background-color: #87CEFA;
        border: 2px solid #000000;
      }
    }
}